
html{
    background: url('img/1_US.jpg') no-repeat center fixed;
    background-size: cover;
}
h2{
    margin: auto;
    text-align: center;
    font-size: xx-large;
}
body{
    margin: auto;
    text-align: center;
  
}
 a{
    padding: 50px;
 }
.sites{
    text-decoration: none;
    background-color: grey;
    padding: 50px;
    color: black;
    border-radius: 10px;
}
.sites:hover{
    text-decoration: underline;
}
ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}