html{background: url('img/bum.jpg') no-repeat center fixed;
    background-size: cover;}

body{
    margin: auto;
    text-align: center;
    width:600px;
    background-color: rgba(255,255,255, 0.4);
    border-radius: 25px;
}

a{
    padding: 50px;
}

.sites{
    text-decoration: none;
    color: black;
}

.sites:hover{
    text-decoration: underline;
}
p{
   font-size: x-large;
}
ul{
    padding: 0px;
}